.form {
  position: relative;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  margin: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  transition: all 0.3s linear;
}

.btn:hover {
  text-decoration: none;
}

.form {
  min-height: 600px;
}

.form h1 {
  width: 100%;
  text-align: center;
}

.form h1 a {
  text-decoration: none;
  color: #d49625;
  transition: all 0.1s linear;
}

.form h1 a:hover {
  text-decoration: none;
  text-shadow: 0 0 5px #d49625;
}
