.form-container
{
    position: relative;
    width: 60%;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    background-color: #00bff1;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form {
    width: 100%;
}
.form-container h1{
    margin: 20px;
    font-size: 14px;
    color: #000000;
}
.form-container h1 a{
    text-decoration: none;
    color: #ffffff;
    transition: all 0.1s linear;
}
.form-container h1 a:hover{
    text-decoration: none;
    text-shadow: 0 0 5px #ffffff;
}
.form-btn{
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    outline: none;
}

.btn-login{
    border: 2px solid #00a01b;
    color: #00a01b;
    transition: all 0.3s linear;
}
.btn-login:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #00a01b;
}
